@import 'styles/utilities.scss';

.link {
  @include linkStyles;

  &:not(.link--no-underline) {
    @include focusStates {
      background-size: 100% pxToRems(2px);
    }
  }

  &--active {
    background-size: 100% pxToRems(2px);
  }

  &--icon {
    display: inline-flex;
    align-items: center;
  }
}

.external-link {
  display: inline-flex;
  align-items: center;

  &__icon {
    @include fontSize(10px);
    margin-left: pxToRems(4px);
  }
}
