@import '@styles/utilities.scss';

$image-height: 8rem;

.container {
  position: relative;
  padding: calc(#{$image-height} - 2rem) 0.5rem 0 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  overflow: hidden;

  .title {
    margin: 0;
    line-height: 1.5;
    @include fontSize(22px);
    font-family: 'Sulphur Point', sans-serif;
    text-align: center;
    font-weight: 700;
  }
}

.image,
.screen {
  position: absolute;
  top: 0;
  height: $image-height;
  left: 0;
  right: 0;
  z-index: -1;
}

.image {
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.screen {
  background: linear-gradient(
    to top,
    rgba(250, 250, 250, 1),
    rgba(250, 250, 250, 0.5) 50%,
    rgba(250, 250, 250, 0)
  );
}
