@import '@styles/utilities.scss';

.about {
  display: flex;
  justify-content: center;
  @include pagePadding(true);
  @include gutters;

  &__sub-text {
    display: block;
    line-height: 1.1;
    margin-bottom: pxToRems(16px);
  }

  &__bio {
    margin-bottom: 2rem;

    @include tablet-and-up {
      margin-bottom: 4rem;
      @include fontSize(18px);
    }
  }

  &__social-list {
    margin: 0 0 pxToRems(24px) 0;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }

  &__social-list-item {
    display: inline-flex;
    align-items: center;

    &:not(:last-child)::after {
      content: '';
      display: block;
      width: pxToRems(4px);
      height: pxToRems(4px);
      background-color: var(--font-color);
      border-radius: 50%;
      margin: 0 pxToRems(10px);
    }
  }

  &__email {
    margin-bottom: 0;
    @include fontSize(14px);
  }
}
