@import '@styles/utilities.scss';

.link {
  @include linkStyles;

  &:not(.link--no-underline) {
    @include focusStates {
      background-size: 100% pxToRems(2px);
    }
  }

  &--active {
    background-size: 100% pxToRems(2px);
  }

  &--icon {
    display: inline-flex;
    align-items: center;
  }
}
