@import '@styles/utilities.scss';

.title-shape-heading {
  position: relative;
}

.title-shape {
  $size: 80px;
  $margin: 26px;

  position: absolute;
  top: 0;
  left: -($size + $margin);
  width: $size;
  height: $size;
  background-color: #4f00ec;
  transform: translateY(-25%) rotate(45deg);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;

  &--small {
    $smallSize: $size * 0.8125;

    left: -($smallSize + $margin);
    width: $smallSize;
    height: $smallSize;
  }
}

.title-shape-icon {
  transform: rotate(-45deg);
  color: #ffffff;
}
