@import '@styles/utilities.scss';

.file-cabinet {
  position: relative;

  > * {
    position: absolute;
    top: calc(4.5rem * var(--index));
    transition: all $transition-time-slow * 1.5 $transition-ease-out-cubic;

    &:hover {
      top: calc(4.5rem * var(--index) - 1.5rem);
      transform: rotate3d(1, 0, 0, -6deg);

      ~ * {
        top: calc(4.5rem * var(--index) + 5rem);
        transform: rotate3d(1, 0, 0, 30deg);
      }
    }
  }
}
