@import '@styles/utilities.scss';

.vertical-hero {
  display: flex;
  height: 100vh;

  &__splash {
    position: fixed;
    width: 55%;
    height: 100vh;
    z-index: -1;
  }

  &__container {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
  }

  &__image,
  &__screen {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: cover;
  }

  &__image {
    object-fit: cover;
    object-position: 50% 0%;
    width: 100%;
    height: 100%;
  }

  &__screen {
    right: -1px;
    background: linear-gradient(
      to left,
      rgb(250, 250, 250) 0%,
      rgba(250, 250, 250, 0) 25%,
      rgba(250, 250, 250, 0)
    );
  }
}
