@import '@styles/utilities.scss';

.footer {
  padding-top: pxToRems(32px);
  padding-bottom: pxToRems(32px);
  @include gutters;

  &__list {
    margin: 0;
    padding-left: 0;
    display: flex;
    list-style: none;
    justify-content: center;
    font-size: pxToRems(13px);
  }

  &__list-item {
    display: inline-flex;
    align-items: center;

    &:not(:last-child)::after {
      content: '';
      display: block;
      width: pxToRems(3px);
      height: pxToRems(3px);
      background-color: var(--font-color);
      border-radius: 50%;
      margin: 0 pxToRems(8px);
    }
  }
}
