@import '@styles/utilities.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;

  p {
    margin: 0;
  }
}

.picture {
  display: flex;
  overflow: hidden;
  position: relative;
  cursor: crosshair;
}

.image {
  &--small {
    max-width: 100%;
  }

  &--large {
    position: absolute;
  }
}
