@import '@styles/utilities.scss';

.container {
  margin: 0 auto;
  max-width: $container-width;
  width: 100%;

  @include ultra-hd {
    max-width: $tablet-landscape-width;
  }

  &--large {
    max-width: $tablet-landscape-width;

    @include ultra-hd {
      max-width: $laptop-width;
    }
  }
}
