@import 'normalize.css/normalize';
@import './fonts';
@import './utilities';

html {
  @include fontSize($baseFontSize);
  font-family: 'Montserrat', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $font-color;
  font-weight: 400;
  line-height: 1.5;
  background-color: $background-color;
}

body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sulphur Point', sans-serif;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}

h2 {
  @include fontSize(26px);
}

h3 {
  @include fontSize(22px);
}

p {
  margin: 0 0 pxToRems(8px) 0;
}

#app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none !important;
}

deck-list {
  &::part(container) {
    margin: pxToRems(40px) 0;
    max-width: 100%;
    padding: 0 pxToRems(8px);
  }

  &::part(header) {
    margin-bottom: pxToRems(8px);
  }

  &::part(heading) {
    font-family: 'Sulphur Point', sans-serif;
    font-weight: 400;
    line-height: 1.2;
    @include fontSize(22px);
  }

  &::part(section-title) {
    font-family: 'Sulphur Point', sans-serif;
  }

  &::part(separator) {
    border-top: 1px solid $font-color;
  }

  &::part(flip-preview) {
    text-transform: uppercase;
  }

  &::part(export) {
    background: $primary-color;

    &:hover {
      background: $font-color;
    }
  }

  &::part(export-notification) {
    padding: pxToRems(4px) 0;
  }
}