@import 'theme/utilities.scss';

.title-shape-heading {
  position: relative;
}

.title-shape {
  $size: 80px;

  position: absolute;
  top: -50%;
  left: -106px;
  width: $size;
  height: $size;
  background-color: $primary-color;
  transform: rotate(45deg);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;

  &--small {
    $smallSize: $size * 0.8125;

    left: -86px;
    width: $smallSize;
    height: $smallSize;
  }
}

.title-shape-icon {
  transform: rotate(-45deg);
  color: #ffffff;
}