@import 'theme/utilities.scss';

.blog-post {
  padding-top: pxToRems(64px);
  @include gutters;

  &__descriptor {
    margin-bottom: 0;

    &--small {
      font-size: 80%;
      line-height: 1.4;
    }

    &--italic {
      font-style: italic;
    }

    &--spaced {
      margin-bottom: pxToRems(8px);
    }
  }

  &__date {
    display: block;
  }

  &__content {
    margin-top: pxToRems(40px);
    @include readableContent();
  }

  &__back-icon {
    margin-right: pxToRems(4px);
  }

  &__next-icon {
    margin-left: pxToRems(4px);
  }
}