@import 'theme/utilities.scss';

.blog-post {
  $hero-height: 55vh;

  padding-top: pxToRems(64px);
  @include gutters;

  &--has-hero {
    padding-top: calc(#{$hero-height} - 60px);

    @include tablet-and-up {
      .blog-post__title {
        @include fontSize(48px);

        .title-shape {
          @include fontSize(32px);
        }
      }
    }
  }

  &__hero,
  &__hero-screen {
    position: absolute;
    top: 0;
    height: $hero-height;
    left: 0;
    right: 0;
    object-fit: cover;
    z-index: -1;
  }

  &__hero {
    object-fit: cover;
    object-position: top center;
    width: 100%;
  }

  &__hero-screen {
    background: linear-gradient(to top, rgba(250,250,250,1), rgba(250, 250, 250, 0.4) 50%, rgba(250,250,250,0));
  }

  &__descriptor {
    margin-bottom: 0;

    @include tablet-and-up {
      @include fontSize(18px);
    }

    &--small {
      font-size: 80%;
      line-height: 1.4;
    }

    &--italic {
      font-style: italic;
    }

    &--spaced {
      margin-bottom: pxToRems(8px);
    }
  }

  &__date {
    display: block;
  }

  &__content {
    margin-top: pxToRems(40px);
    @include readableContent();
  }

  &__back-icon {
    margin-right: pxToRems(4px);
  }

  &__next-icon {
    margin-left: pxToRems(4px);
  }
}