@import '@styles/utilities.scss';

.projects {
  @include pagePadding;
  @include gutters;

  &__list {
    margin-top: 2.5rem;
  }
}

.project {
  $size: 12rem;

  position: relative;
  overflow: hidden;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  &--with-image {
    .project__content {
      min-height: $size;

      &::before {
        content: '';
        position: absolute;
        width: $size - 2rem;
        height: 100%;
        z-index: 0;
      }

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: var(--background-color);
        top: 0;
      }
    }

    &:nth-child(odd) {
      .project__image {
        left: 0;
      }

      .project__content {
        padding-left: $size - 2.5rem;

        &::before {
          left: 2rem;
          background: linear-gradient(
            to left,
            rgba(250, 250, 250, 1),
            rgba(250, 250, 250, 0.4) 50%,
            rgba(250, 250, 250, 0)
          );
        }

        &::after {
          left: $size;
        }
      }
    }

    &:nth-child(even) {
      .project__image {
        right: 0;
      }

      .project__content {
        padding-right: $size - 2.5rem;

        &::before {
          right: 2rem;
          background: linear-gradient(
            to right,
            rgba(250, 250, 250, 1),
            rgba(250, 250, 250, 0.4) 50%,
            rgba(250, 250, 250, 0)
          );
        }

        &::after {
          right: $size;
        }
      }
    }
  }

  &__image {
    position: absolute;
    top: 0;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    z-index: 1;
  }

  &__description {
    z-index: 1;
  }
}

.hobbies {
  padding-top: 4rem;
}
