@import '@styles/utilities.scss';

.grid {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include tablet-and-up {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }

  @for $i from 1 through 6 {
    &--#{$i} {
      @include tablet-and-up {
        grid-template-columns: repeat($i, minmax(0, 1fr));
      }
    }
  }

  &--1 {
    grid-auto-rows: min-content;
  }
}
